.button {
  appearance: none;
  border: 0;
  display: inline-block;
  font-family: $FONT_BUTTON;
  font-size: $FONT_SIZE_P;
  font-weight: $WEIGHT_BOLD;
  padding: $SPACING_S $SPACING_ML;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &--primary {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_TEXT_PRIMARY;
  }

  &--secondary {
    background-color: $COLOR_BACKGROUND_WHITE;
    color: $COLOR_PRIMARY;
  }

  @include mq($from: medium) {
    font-size: $FONT_SIZE_P_M;
    padding: $SPACING_L $SPACING_3XL;
  }
}
