/**
 * Config: Typography
 * -----------------------------------------------------------------------------
 *
 */

/**
 * Font stack.
 */
$FONT_DISPLAY: 'Helvetica Neue Light' ,-apple-system, blinkmacsystemfont, 'San Francisco', 'Helvetica', sans-serif;
$FONT_HEADING: 'Helvetica Neue Bold', -apple-system, blinkmacsystemfont, 'San Francisco', 'Helvetica', sans-serif;
$FONT_BUTTON: 'Helvetica Neue Bold', -apple-system, blinkmacsystemfont, 'San Francisco', 'Helvetica', sans-serif;
$FONT_BODY: 'Helvetica Neue Light', -apple-system, blinkmacsystemfont, 'San Francisco', 'Helvetica', sans-serif;

/**
 * Weights.
 */
$WEIGHT_THIN: 100;
$WEIGHT_EXTRA_LIGHT: 200;
$WEIGHT_LIGHT: 300;
$WEIGHT_BOOK: 400;
$WEIGHT_MEDIUM: 500;
$WEIGHT_SEMIBOLD: 600;
$WEIGHT_BOLD: 700;
$WEIGHT_HEAVY: 800;
$WEIGHT_BLACK: 900;

/**
 * Font sizes.
 */

$FONT_SIZE_H1: 2.8rem;
$FONT_SIZE_H1_M: 4rem;

$FONT_SIZE_H2: 2.4rem;
$FONT_SIZE_H2_M: 3.6rem;

$FONT_SIZE_H3: 2.1rem;
$FONT_SIZE_H3_M: 3rem;

$FONT_SIZE_H4: 1.8rem;
$FONT_SIZE_H4_M: 2.4rem;

$FONT_SIZE_H5: 1.6rem;
$FONT_SIZE_H5_M: 2.1rem;

$FONT_SIZE_H6: 1.4rem;
$FONT_SIZE_H6_M: 1.8rem;

$FONT_SIZE_P: 1.4rem;
$FONT_SIZE_P_M: 1.8rem;

/**
 * Typographic positioning and spacing.
 */
$BASELINE: 1rem;
$LINE_HEIGHT_META: 1.3;
$LINE_HEIGHT_BODY: 1.5;
$LINE_HEIGHT_CAPTION: 1.25;
$LINE_HEIGHT_DISPLAY: 1.3;

$LINE_HEIGHT_H1: 1.214;
$LINE_HEIGHT_H1_M: 1.225;

$LINE_HEIGHT_H2: 1.2;
$LINE_HEIGHT_H2_M: 1.222;

$LINE_HEIGHT_H3: 1.238;
$LINE_HEIGHT_H3_M: 1.233;

$LINE_HEIGHT_H4: 1.277;
$LINE_HEIGHT_H4_M: 1.2;

$LINE_HEIGHT_H5: 1.187;
$LINE_HEIGHT_H5_M: 1.238;

$LINE_HEIGHT_H6: 1.214;
$LINE_HEIGHT_H6_M: 1.277;

$LINE_HEIGHT_P: 1.5;
$LINE_HEIGHT_P_M: 1.444;

$LETTER_SPACING_BODY: 0;
$LETTER_SPACING_DISPLAY: 0;
$LETTER_SPACING_SUBTITLE: 0;
$LETTER_SPACING_BUTTON: 0.5px;
$LETTER_SPACING_LABEL: 0.5px;

