{% comment %}
	------------------------------------------------------------------------------
	Snippet: Featured Collection Carousel
	It creates a carousel to showcase featured products

	Usage:
	In your liquid template file, copy the following line
	- {% render 'featured-collection-carousel' with collection: collection %}
	------------------------------------------------------------------------------
{% endcomment %}
<div class="flickity__container">
	<div class="row">
		<div class="featured-collection__flickity-root">
			{% for product in collection.products limit: 8 %}
				{% render 'product-card' product: product %}
			{% endfor %}
		</div>
	</div>
</div>
